.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 16px;
  margin-left: 20px;
}

.search__icon {
  width: 72px;
  position: absolute;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  color: inherit;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 8px 8px 8px 80px;
}
